<template name="userheader">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Jurat</h3>
      </div>

      <ul class="list-unstyled components">
          <li>
            <i class="fas fa-home"></i>
              <a href="#homeSubmenu">Home</a>
          </li>
          <li>
            <i class="fas fa-binoculars"></i>
              <a href="#homeSubmenu">Discover</a>
          </li>
          <li>
            <i class="fas fa-compass"></i>
                <a href="#homeSubmenu">dApp directory</a>
          </li>
          <li>
            <i class="fas fa-landmark"></i>
                <a href="#homeSubmenu">Case History</a>
          </li>
      </ul>
      <ul id="bottomlist">
        <li>
          <i style="color:#f2be54;" class="fas fa-cog"></i>
              <a style="font-weight:800;"  href="#homeSubmenu">Settings</a>
        </li>
        <li>
          <i class="fas fa-puzzle-piece"></i>
              <a href="#homeSubmenu">Help Desk</a>
        </li>
      </ul>
  </nav>
  <header>
    <input type="text" placeholder="Search.." />
    <a class="profile"><img src="{{gravatars}}" />{{username}}</a>
  </header>
</template>
